#título {
    background-color: green;
    display: flex;
    justify-content: center;
    color: aliceblue;
    position: fixed;
    padding: 30px;   
    top: 0;
    left: 0;
    right: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#div2 {
    display: flex;
    padding-top: 90px;
    justify-content: center;
    background-color: rgb(112, 207, 112);
    align-items: center;
    height: 450px;
}

#imgGuara {
    width: 530px; 
    border: 3px solid rgb(6, 73, 6); 
    box-shadow: 6px 6px 15px #000000;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

div h2 {
    display: flex;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-decoration: underline;
    justify-content: center;
}

div p {
    padding: 30px;
    padding-top: 20px;
    text-align: center;
   
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

div a {
    padding-left: 620px;
}

#informacaoGuara {
    margin-bottom: 20px;
}

footer {
    background-color: green;
    padding-top: 30px;
    text-align: center;
}

footer h3 {
    padding-bottom: 25px;
    color: white;
}